/*
 * $Id: om-theme.css,v 1.36 2012/06/26 08:57:31 chentianzhen Exp $
 * operamasks-ui CSS Framework @VERSION
 *
 * Copyright 2011, AUTHORS.txt (http://ui.operamasks.org/about)
 * Dual licensed under the MIT or LGPL Version 2 licenses.
 * http://ui.operamasks.org/license
 *
 * http://ui.operamasks.org/docs/
 */

.om-helper-hidden { display: none; }
.om-helper-position-absolute { position: absolute; }
.om-helper-hidden-accessible { left:-20000px; top:-20000px; position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.om-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.om-helper-clearfix:after { content: "."; display: block; font-size:0; height: 0; clear: both; visibility: hidden; }
.om-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .om-helper-clearfix { height:1%; }
.om-helper-clearfix { display:block; }
/* end clearfix */
.om-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.om-state-disabled { cursor: default !important; }
.om-state-cursor-pointer {cursor: pointer;}


/* Icons
----------------------------------*/

/* states and images */
.om-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.om-vertical-align-middle { vertical-align: middle; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.om-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.om-widget { font-family: Verdana,Arial,sans-serif; font-size: 12px; }
.om-widget .om-widget { font-size: 1em; }
.om-widget input, .om-widget select, .om-widget textarea, .om-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.om-widget input, input.om-widget {padding: 1px; *padding: 0px;}
.om-widget-content { border: 1px solid #86A3C4; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222;}
.om-widget .om-widget-header { background: url("images/header_bg.png") repeat-x scroll 0 0 #FFFFFF; color: #23466D; font-weight: bold;}
.om-widget-header a { color: #23466D; }

/* Interaction states
----------------------------------*/
.om-state-default, .om-widget-content .om-state-default, .om-widget-header .om-state-default { border: 1px solid #86A3C4; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.om-state-default a, .om-state-default a:link, .om-state-default a:visited { color: #555555; text-decoration: none; }
.om-state-hover, .om-widget-content .om-state-hover, .om-widget-header .om-state-hover, .om-state-focus, .om-widget-content .om-state-focus, .om-widget-header .om-state-focus { background: #6C99DD; font-weight: normal; color: #ffffff; }
.om-state-hover a, .om-state-hover a:hover { color: #212121; text-decoration: none; }
.om-state-focus, .om-widget-content .om-state-focus, .om-widget-header .om-state-focus { border: 1px solid #2966B1; }
.om-state-focus a, .om-state-focus a:hover { color: #212121; text-decoration: none; }
.om-state-active, .om-widget-content .om-state-active, .om-widget-header .om-state-active { background:#a5c7ff; font-weight: normal; color: #212121; }
.om-state-active a, .om-state-active a:link, .om-state-active a:visited { color: #212121; text-decoration: none; }
.om-widget :active { outline: none; }
.om-empty-text{ color: #CCCCCC; }
/* Interaction Cues
----------------------------------*/
.om-state-highlight, .om-widget-content .om-state-highlight, .om-widget-header .om-state-highlight  {border: 1px solid #fcefa1; background: #1C62CB; color:#ffffff; }
.om-state-highlight a, .om-widget-content .om-state-highlight a,.om-widget-header .om-state-highlight a { color: #363636; }
.om-state-disabled, .om-widget-content .om-state-disabled, .om-widget-header .om-state-disabled { opacity: .6; filter:Alpha(Opacity=60); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.om-icon { width: 16px; height: 16px; background-image: url(images/om-icons-default.png); }
.om-state-default .om-icon { background-image: url(images/om-icons-default.png); }
.om-state-hover .om-icon, .om-state-focus .om-icon {background-image: url(images/om-icons-hover.png); }
.om-state-active .om-icon {background-image: url(images/om-icons-hover.png); }

/* common icons */
.om-icon-seek-start {background-position: 0 0}
.om-icon-seek-end {background-position: -16px 0}
.om-icon-seek-prev {background-position: -32px 0}
.om-icon-seek-next {background-position: -48px 0}
.om-icon-refresh {background-position: -64px 0}
.om-icon-grip-diagonal-se {background-position: -80px 0}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.om-corner-all, .om-corner-top, .om-corner-left, .om-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.om-corner-all, .om-corner-top, .om-corner-right, .om-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.om-corner-all, .om-corner-bottom, .om-corner-left, .om-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.om-corner-all, .om-corner-bottom, .om-corner-right, .om-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
/* Overlays */
.om-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.om-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* no background */
.om-state-nobg, .om-widget-content .om-state-nobg {background: none; color: #000;}
/* no border */
.om-state-nobd, .om-widget-content .om-state-nobd {border: none;}

.om-loading { background-image: url("images/load.gif") !important; background-repeat: no-repeat; background-position: center !important; }

/* trigger */
.om-state-default .om-combo-trigger, .om-state-default .om-calendar-trigger {background-position:0px 0;}
.om-state-hover .om-combo-trigger, .om-state-hover .om-calendar-trigger {background-position:-19px 0;}
.om-state-focus .om-combo-trigger, .om-state-focus .om-calendar-trigger {background-position:-19px 0;}
.om-state-active .om-combo-trigger, .om-state-active .om-calendar-trigger {background-position:-38px 0;}

/* dropLisr */
.om-droplist .om-state-hover {background-color: #FCEFA1; color: black; border: none; }

/*
 * $Id: om-tree.css,v 1.26 2012/06/14 01:08:25 linxiaomin Exp $
 * operamasks-ui tree @VERSION
 *
 * Copyright 2011, AUTHORS.txt (http://ui.operamasks.org/about)
 * Dual licensed under the MIT or LGPL Version 2 licenses.
 * http://ui.operamasks.org/license
 *
 * http://ui.operamasks.org/docs/
 */
.om-tree, .om-tree ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.om-tree ul {
	margin-top: 4px;
}

.om-tree .hitarea {
	background: url(images/tree/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.om-tree li { 
	margin: 0;
	padding: 3px 0pt 2px 16px;
}
.om-tree li.om-tree-node{
	white-space: nowrap;
}
.om-tree li span{
	display: inline-block;
	*overflow: hidden;
}

.om-tree .om-tree-node a:link {
    color: black;
    text-decoration: none;
}

.om-tree .om-tree-node a:visited {
    color: black;
    text-decoration: none;
}

#treecontrol { margin: 1em 0; display: none; }

.om-tree .om-tree-node span.hover { cursor: pointer;text-decoration: underline; }

.om-tree li { background: url(images/tree/treeview-default-line.gif) 0 0 no-repeat;zoom:1;}
.om-tree li.collapsable, .om-tree li.expandable { background-position: 0 -176px; }

.om-tree .expandable-hitarea { background-position: -80px -3px; }

.om-tree li.last { background-position: 0 -1766px }
.om-tree li.lastCollapsable, .om-tree li.lastExpandable { background-image: url(images/tree/treeview-default.gif); }  
.om-tree li.lastCollapsable { background-position: 0 -111px }
.om-tree li.lastExpandable { background-position: -32px -67px }

.om-tree div.lastCollapsable-hitarea, .om-tree div.lastExpandable-hitarea { background-position: 0; }

.om-tree .placeholder {
	background: url(images/tree/tree-loading.gif) 0 0 no-repeat;
	display: block;
	padding: 1px 0 1px 16px;
}
.om-tree span.folder, .om-tree span.file { padding: 1px 0 1px 16px;}
.om-tree span.folder { background: url(images/tree/tree-icons.gif) 0 -16px no-repeat;  }
.om-tree li.expandable span.folder { background: url(images/tree/tree-icons.gif) 0 -32px no-repeat;  }
.om-tree span.file { background: url(images/tree/tree-icons.gif) 0 0 no-repeat;}

.om-tree li.om-tree-node span.selected {
	padding-top: 0px;
    background-color: #D9E8FB !important;
    color: black;
    border: 1px #6495ed solid;
}
.om-tree .tree-checkbox {
    background: url(images/tree/checkbox.png) 0 0 no-repeat;
    width: 13px;
    height:13px;
    _overflow:hidden;
    float:left;
    cursor: pointer;
    padding-right: 3px;
    margin-top: 2px;
}

.om-tree .checkbox_full {
    background-position:0px -36px;
}

.om-tree .checkbox_part {
    background-position:0px -48px;
}
/* 
.om-tree li.treenode-checkable span.file, .om-tree li.treenode-checkable span.folder {
    margin-left: 16px;
}
*/
.om-tree li.treenode-droppable {border-bottom: 1px dotted #dd0000;}
/* when we want to use the line hover we may use this style, we can see the style use in the om-tree.js line 435 */
/* 
.om-tree li.om-tree-node .selection {display: none;}
.om-tree li.hover .selection { display: block; background-color: #D4D4D4; }
.om-tree li.selected .selection { display: block; background-color: #eaf1fb; }
.selection { height: 17px; position: absolute; left: 0; right: 0; z-index: -1; width: 100%;}
*/