/*============================默认样式：直接定义元素的样式=======================================*/
body 
{
 text-align: center;
 font-size:12px;
 font-family:'宋体',ncursive,Arial, Verdana, Geneva,sans-serif ;
 font-weight:normal;
 color:#444444;
 margin-top:0;
 background-color:#ffffff;
 
}
h1
{
 font-size:12px;
    font-weight: normal;
}
h2
{ 
 font-size:12px;
 display:inline;  
}
h3 
{
 font-size:12px;
 display:inline;
 font-weight:normal; 
 padding:0;
 margin:0;
 color:#444;
}
dl,dt,dd,ul,li,ol,p,form,img {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border: none;
}
textarea
{
 font-size:12px;
}
/*浅蓝色字体，不带下划线；Hover橙色带下划线；IMG不显示边框*/
a,a:link,a:active
{
 color: #3D81EE;
 text-decoration: none;
}
a:hover
{
 color: #F90;
 text-decoration:none;
}
a img 
{
 border:0;
}
