/*问卷最外层div*/
 .survey{width:780px;
		line-height:20px;
		word-wrap:
		break-word; 
		padding:0; 
		margin:0 auto;}
 .surveyhead /*标题*/
   {
        line-height: 20px; text-align: center;
        width:96%;
        padding:10px 2%;
        border-bottom:  dashed 1px #CCCCCC;
   } 
 .surveyhead h1
 {  font-size:20px; font-weight: bold; color: #f53d05; vertical-align: middle;
        margin-top: 15px; margin-bottom: 5px;
  }
.surveydescription /*描述*/
   {
        color:#555555;
		font-size:12px;
        line-height:20px;
       text-align:left;
	   text-indent:2em;
       margin:15px 0 0 10px;
   }
.surveycontent /*问卷主体*/
   {
       margin:0 auto;
	   width:100%;
	   overflow:auto;

 }
.div_title_page_question{
    font-weight:bold;font-size: 14px;
}
.div_title_question_all{/**/
    padding-top:2px;
    font-size:14px;
    color:#373A3D;
     font-weight:lighter;
    height:auto;
    line-height:20px;
}
.div_title_question
{  
    /*width:94%;
    float:left;*/
	height:auto;
	font-weight:bold;	
	font-size:16px;
    overflow:hidden;zoom:1;
}

.div_table_radio_question{
   clear:both;/*清空题号与标题的Float,另起一行*/
   padding-top:5px; 
   padding-left:20px;
   padding-bottom:2px;
   font-size:12px; 
   color:#333333;
   /*width:90%;*/
}

a.titlelnk:link, a.titlelnk:active, a.titlelnk:visited {
color:#075DB3;
text-decoration:underline;
  font-family:  Sans-Serif,'宋体';
}

.post_item {
border-bottom:1px dotted #CCCCCC;
border-width:1px;
margin-bottom:15px;
padding-bottom:15px;
overflow:hidden;
width:540px;
}

.post_item_summary {
color:#444444;
font-size:12px;
line-height:20px;
margin-bottom:5px;
overflow:hidden;
padding-right:5px;
padding-top:5px;
}

.line{
	BORDER-LEFT-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-TOP-STYLE: none;
}

.gray{
	color:gray;
}