body {
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 800px;
  padding: 0px;
  margin: 0px;
}

.input_text {
  padding-right: 8px;
  cursor: pointer;
  width: 120px;
  font-size: 12px;
  display: inline-block;
}

.main {
  width: 100%;
  overflow: hidden;
}

.left {
  width: 30%;
  float: left;
}

.left div {
  position: fixed;
  width: 100px;
  background: #eee;
  /*background: -webkit-linear-gradient(right top, #4479AF,#66eaf3);*/
  /* Safari 5.1 - 6.0 */
  /*background: -o-linear-gradient(bottom left, #4479AF,#66eaf3);*/
  /* Opera 11.1 - 12.0 */
  /*background: -moz-linear-gradient(bottom left,#4479AF, #66eaf3);*/
  /* Firefox 3.6 - 15 */
  /*background: linear-gradient(to bottom left,#4479AF,#66eaf3);*/
  /*background: -webkit-linear-gradient(#4075AA 20%,#66eaf3 60%,#f7f7f7,#4075AA,orange);
   background: -o-linear-gradient(#4075AA 20%,#66eaf3 60%,#f7f7f7,#4075AA,orange);
   background: -moz-linear-gradient(#4075AA 20%,#66eaf3 60%,#f7f7f7,#4075AA,orange);
   background: linear-gradient(#4075AA 20%,#66eaf3 60%,#f7f7f7,#4075AA,orange);*/
  top: 40px;
  height: 100%;
}

.right {
  margin-left: 100px;
  padding-top: 40px;
  min-width: 700px;
}

section {
  width: 100%;
  height: auto;
  font-size: 14px;
  overflow: hidden;
}

section>span {
  float: left;
  width: 100px;
  text-align: center;
  font-weight: bold;
  display: block;
}

section>div {
  float: left;
}

.ant-radio-group>label {
  display: block;
  margin: 20px 50px;
}

.ant-radio-group>label:last-child {
  display: block;
  margin-bottom: 0px;
}

.content1{
  display: none;
}
.demo1 {}

.demo2 {}

.demo3 {}

.demo4 {}

.menu a {
  width: 100%;
  height: 50px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  color: #353535;
  text-decoration: none;
}



.top {
  width: 100%;
  height: 40px;
  background: #4479AF;
  /*background: -webkit-linear-gradient(left, #01C9FD, #006BA6);*/
  /* Safari 5.1 - 6.0 */
  /*background: -o-linear-gradient(right, #01C9FD, #006BA6);*/
  /* Opera 11.1 - 12.0 */
  /*background: -moz-linear-gradient(right, #01C9FD, #006BA6);*/
  /* Firefox 3.6 - 15 */
  /*background: linear-gradient(to right, #01C9FD, #006BA6);*/
  /* 标准的语法 */
  /*background: -webkit-linear-gradient(#4075AA ,#66eaf3 ,#4075AA);
   background: -o-linear-gradient(#4075AA ,#66eaf3 ,#4075AA);
   background: -moz-linear-gradient(#4075AA ,#66eaf3 ,#4075AA);
   background: linear-gradient(#4075AA ,#66eaf3 ,#4075AA);*/
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.top span {
  float: left;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.active {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: scalerup;
  animation-name: scalerup;
}

@-webkit-keyframes scalerup {
  from {
    background: #4075AA;
    color: #fff;
  }
  to {
    background: #fff;
    color: #000;
    /*box-shadow: 2px 2px 5px #AAA;
    border-radius: 4px;*/
  }
}

.headquarters {}

/* .headquarters::before {
  content: '';
  display: inline-block;
  background: url("./image/scm/sysParam/headquarters.png") center center no-repeat;
  background-size: contain;
  width: 14px;
  height: 18px;
  margin: 0 5px -4px 0;
} */

.store {}

/* .store::before {
  content: '';
  display: inline-block;
  background: url("./image/scm/sysParam/store.png") center center no-repeat;
  background-size: contain;
  width: 14px;
  height: 18px;
  margin: 0 5px -4px 0;
} */

input {
  overflow: visible;
}

.example-input, .ant-input {
  width: 270px;
  margin: 0 8px 8px 0;
}

.ant-input {
  width: 270px;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  height: 28px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.setting_update_all {
  width: 500px;
  margin: 20px 0px;
  display: block!important;
}

#test {
  margin-top: 16px;
}

.ant-checkbox-wrapper {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
}

.ant-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: text-bottom;
}

input[type=checkbox], input[type=radio] {
  line-height: normal;
}

.ant-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #108ee9;
  border-color: #108ee9;
}

.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

*, :after, :before {
  box-sizing: border-box;
}

.ant-checkbox+span, .ant-checkbox-wrapper+span {
  padding-left: 8px;
  padding-right: 8px;
}

.ant-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #108ee9;
  content: "";
  -webkit-animation: antCheckboxEffect .36s ease-in-out;
  animation: antCheckboxEffect .36s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
}

.ant-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all .1s cubic-bezier(.71, -.46, .88, .6);
  transition: all .1s cubic-bezier(.71, -.46, .88, .6);
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
  transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}

.ant-radio-group {
  display: inline-block;
  font-size: 12px;
}

.ant-radio, .ant-radio-wrapper {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

.ant-radio-wrapper {
  font-size: 12px;
  margin-right: 8px;
}

.ant-radio {
  outline: none;
  line-height: 1;
  vertical-align: text-bottom;
}

input[type=checkbox], input[type=radio] {
  line-height: normal;
}

.ant-radio-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #108ee9;
}

.ant-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ant-radio-checked .ant-radio-inner:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
}

.ant-radio-inner:after {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  border-radius: 4px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: " ";
  background-color: #108ee9;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
}

.ant-radio-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #108ee9;
  content: "";
  -webkit-animation: antRadioEffect .36s ease-in-out;
  animation: antRadioEffect .36s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
}

span.ant-radio+* {
  padding-left: 8px;
  padding-right: 8px;
}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type=checkbox], input[type=radio] {
  line-height: normal;
}

.ant-radio-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #108ee9;
  content: "";
  -webkit-animation: antRadioEffect .36s ease-in-out;
  animation: antRadioEffect .36s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
}

*, :after, :before {
  box-sizing: border-box;
}

::selection {
  background: #108ee9;
  color: #fff;
}

.index_demo3 {
  height: 600px;
}
section#demo6 {
   margin-bottom: 100px;
}
.checkboxMain{
  display: block;
  margin: 20px 50px;
}