@CHARSET "UTF-8";

/* ====================== 主菜单的样式 ====================== */
.module_department {
  background: url('../image/module/module_icon.gif') no-repeat 0px -66px;
}
.module_account {
  background: url('../image/module/module_icon.gif') no-repeat -44px 0px;
}
.module_user {
  background: url('../image/module/module_icon.gif') no-repeat 0px -1px;
}
.module_role {
  background: url('../image/module/module_icon.gif') no-repeat -44px -23px;
}
.module_module {
  background: url('../image/module/module_icon.gif') no-repeat 0px -88px;
}
.module_operate {
  background: url('../image/module/module_icon.gif') no-repeat 0px -111px;
}

