@CHARSET "UTF-8";

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	white-space:nowrap;
}

iframe{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

img,body,html{
	border:0; 
	padding:0;
}

html,body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,select,
p,blockquote,table,tr,th,td{
	margin:0;
	padding:0;
	font-family:'微软雅黑','Courier New';
	font-size:12px;
}

img{
	vertical-align:middle;
}

.leftFrame { 
	background-color:#FFF; 
	float:left; 
	width:15%; 
	height:100%;
}

.mainFrame { 
	background-color:#FFF; 
	float:left; 
	width:85%; 
	height:100%; 
	border-left:solid 1px #B4B4B4; 
	margin-left:-1px;
}

.treePanel {
  width:100%;
  overflow: auto;
}

.bgDiv{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #395A9C;
	display: none;
	z-index: 20;
}

.message{
	position: absolute;
	line-height: 30px;
	padding-right: 5px;
	padding-left: 25px;
	display: none;
}

.success{
	border: 1px solid #999999;
	background: url('../image/success.gif') no-repeat 5px center;
	background-color: #FFFFFF;
	z-index: 20;
}

.error{
	border: 1px solid #CD0A0A;
	background: url('../image/error.gif') no-repeat 5px center;
	background-color: #FFFFFF;
	z-index: 20;
}

.disable{
	color: #808080;	
}

.selectDepartment{
	background: url(../image/selectDepartment.gif) no-repeat right center;
	background-color: #FFFFFF;
	cursor: pointer;
}	

.sex_0{
	background: url(../image/sex_0.gif) no-repeat left center;
}

.sex_1{
	background: url(../image/sex_1.gif) no-repeat left center;
}	
input[type=radio] , input[type=checkbox]{
	height:13px; 
	vertical-align:text-top; 
	margin-top:1px;
	margin-right: 3px;
}
/* 查询等待样式start */
#wait2 { 
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	background-color:black;
	width:100%;
	height:100%;
	position:absolute;
	z-index:998;
	top:0px;
	left:0px;
}			
#wait { 
	position:absolute; 
	top:50%; 
	left:50%; 
	margin-left:-80px; 
	margin-top:-30px; 
	z-index:999;
}
.diy_select{
	display:block !IMPORTANT;
	position:relative !IMPORTANT;
}
/* 查询等待样式end */
/* 提示窗  */
.messagewin{
			border-radius:5px;
			width:400px;
			height:150px;
			z-index:9999;
			border:solid 1px #E4EDFE;
			position:absolute;
		}
		.messagetitlewin{
			border-radius:5px 5px 0px 0px;
			height:30px;
			background:#E4EDFE;
			padding:5px 0 0 0;
			text-align:center;
		}
		.messagetitlewin span{
			font-size:20px;
		}	
		.messageinfowin{
			font-size:20px;
			text-align:center;
			background:#F7FCFF;
			height:65px;
			padding:25px 0 0 0;
		}
		.messageinfowin span{
			width:390px;
			white-space:pre-wrap;
			word-wrap:break-word;
			display:block;
			margin: 0px 5px 0px 5px;
		}
		.messagebtnwin{
			border-radius:0px 0px 5px 5px;
			height:30px;
			background:#E4EDFE;
			text-align:center;
		}
		.confirmbtn{
			border-radius:5px;
			background:#E4E4E4;
			width:80px;
			height:25px;
			text-align:center;
			padding-top:5px;
			cursor:pointer;
			float:left;
			margin-left:100px;
		}
		.cancelbtn{
			border-radius:5px;
			background:#E4E4E4;
			width:80px;
			height:25px;
			text-align:center;
			padding-top:5px;
			cursor:pointer;
			float:right;
			margin-right:100px;
		}
		.okbtn{
			border-radius:5px;
			background:#E4E4E4;
			width:400px;
			height:25px;
			text-align:center;
			padding-top:5px;
			cursor:pointer;
		}	