@CHARSET "UTF-8";

/* ====================== form表格的样式 ====================== */
.form {
	position: absolute;
	background-color: #FFFFFF;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.form-group {
  height: 27px;
  line-height: 27px;
  padding-left: 10px;
  background-color: #8DB2E3;
  font-weight: 700;
  color: #FFFFFF;
}

.form-line {
	position: relative;
	margin: 0px auto;
	+z-index:10;
	height: 25px;
	width:100%;	
}

.form-line .form-label,
.form-line .form-input,
.form-line .form-input-merge {
	position: relative;
	float: left;
	vertical-align: middle;
	margin-right: 1px;
}

.form-line .form-label {
	height: 25px;
	line-height: 25px;
	text-align: right;
 /* font-weight: bold;*/
	padding-right: 5px;
	width: 110px;
<!--	background-color: none;-->
<!--	border-right: 0px solid #7F9DB9;-->
}

.form-line .form-input {
	height: 25px;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	width: 150px;
<!--	background-color: none;-->
	white-space: normal;
}

.form-line .form-label .form-necessary {
	color: #CD0A0A;
<!--	padding-right: 5px;-->
}

.form-line .form-label-over {
	color: #FFFFFF;
	background-color: #4F98F6;
}

.form-line .form-input-over {
	background-color: #4F98F6;
}

.form-line .merge-normal {
	height: 90px;
}

.form-line .merge-large {
	height: 90px;
	width: 393px;
}

/* ====================== form控件的样式 ====================== */

.text {
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	border: 1px solid #7F9DB9;
	/* padding: 2px; */
	margin-top: 3px;
	*margin-top: 2px !important;
}
.textDisable{
	background:#EBEBE4;
}
.textarea {
	border: 1px solid #7F9DB9;
	/* padding: 2px; */
	margin-top: 3px;
	*margin-top: 2px !important;
}

.textarea-merge-normal {
	width:133px;
	height:75px;
}

.textarea-merge-large {
	width:376px;
	height:75px;
}

.select {
	border: 1px solid #7F9DB9;
	margin-top: 4px;
	width: 138px;
	height: 20px;
}

.warn {
	border: 1px solid #CD0A0A;
	background-color: #FEF6F3;
}

.search {
	cursor:pointer;
	margin-top:3px;
}
.red {
	color: #F00;
}

input[type="radio"]{
	/* border:none; */
}
input[disabled=disabled]{
	/* background:#EBEBE4; */
}

.bj_head{
	border: 1px solid #5A7581;
	margin: 2px 2px 2px 2px;
 	padding: 1px;
 	padding-left: -8px;
}