body {
	margin:0px;
	padding:0px;
	font-size:12px;
	BACKGROUND: #F7F7F7;
	SCROLLBAR-FACE-COLOR: #85abc0; SCROLLBAR-HIGHLIGHT-COLOR: #d5ecfa; 
	SCROLLBAR-SHADOW-COLOR: #d5ecfa; SCROLLBAR-DARKSHADOW-COLOR: #d5ecfa; 
	SCROLLBAR-3DLIGHT-COLOR: #4b7895; SCROLLBAR-ARROW-COLOR: #f0f3f8;
	SCROLLBAR-TRACK-COLOR: #d5ecfa;
}
TD {
	FONT-SIZE: 12px;
}

A {
	COLOR: #000000; TEXT-DECORATION: none;
}

A:hover { color:#428EFF;text-decoration:none; }

A.highlight {
	COLOR: red; TEXT-DECORATION: none;
}

A.highlight:hover {
	COLOR: red;
}

A.thisclass {
	FONT-WEIGHT: bold; TEXT-DECORATION: none;
}

A.thisclass:hover {
	FONT-WEIGHT: bold;
}

A.navlink {
	COLOR: #000000; TEXT-DECORATION: none;
}

A.navlink:hover {
	COLOR: #003399; TEXT-DECORATION: none;
}

TD.amrow {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #F7F7F7; PADDING-BOTTOM: 3px;
}
.buttonList {
	position: relative;
	height: 100%;
	width: 18%;
	float: left;
	z-index:10;
}

.tableInfo{
	position: relative;
	height: 100%;
}
.menu {
	border:1px solid #4b7895;
}

.menu_td {
	background:url(../image/menu.png);
}
.v-line {
	position: relative;
	height: 100%;
	width: 3px;
	float: left;
	background-color: white;
	border: 1px solid gray;
}
.sep{
	height:28px;
	cursor: pointer;
}
