@CHARSET "UTF-8";
.print-div ,
.search-div {
  position:absolute;
  top:26px;
  width:100%;
  background-color:#CDDCEE;
  border-top:solid 1px #F0F5FA;
  display:none;
}
.print-div .print-condition ,
.search-div .search-condition {
  padding:10px;
}
.print-div .print-condition table tr td,
.search-div .search-condition table tr td {
  height:26px;
  line-height:26px;
}
.print-div .print-condition table tr .c-left 
.search-div .search-condition table tr .c-left {
  width:100px;
  text-align:right;
  padding-right:5px;
  font-weight:700;
}
.print-div .print-split,
.search-div .search-split {
  height:1px;
  line-height:1px;
  font-size:1;
  background-color:#739CCF;
  border-bottom:solid 1px #FFFFFF;
  margin:5px 10px;
}
.print-div .print-commit ,
.search-div .search-commit {
  height:26px;
  border-top:solid 2px #BBBBBB;
  border-bottom:solid 1px #BBBBBB;
  background-color:#3764B0;
  padding-left:5px;
  padding-top:5px;
}
.print-div .print-commit .print-button,
.search-div .search-commit .search-button {
  text-decoration:none;
  color:#000000;
  background:transparent url("../image/search-button.gif") no-repeat;
  height:21px;
  line-height:21px;
  text-align:center;
  display:block;
  margin-right:5px;
  width:60px;
  border:0;
  cursor:pointer;
  float:left;
}
