body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,Sans-Serif;
    margin: 0;
   /*padding: 5px 15px;*/
    overflow-x :auto;
    overflow-y :auto;
    /*width : 97%;*/
    /*height : 92%;*/
}
a:link {
    color: #0066CC;
    text-decoration: none;
}
a:visited {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    color: #333333;
    text-decoration: underline;
}
a:active {
    color: #0066CC;
    text-decoration: underline;
}
.header {
    color: #666666;
    height: 30px;
    padding: 0 20px;
}
.header .title {
    float: left;
    font-size: 75%;
    line-height: 150%;
    margin-top: 16px;
}
.header .title img {
    float: left;
    margin-right: 6px;
}
.header .title h1 {
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 6px 0 0;
}
.header .menu {
    float: right;
    line-height: 150%;
    padding-top: 5px;
}
.header .menu a {
    color: #666666;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 4px 8px;
    text-decoration: none;
}
.header .menu a:hover {
    background: none repeat scroll 0 0 #666666;
    color: white;
}
ul {
    line-height: 20px;
    margin: 0 0 0 3px;
    overflow: hidden;
    padding: 0;
}
li {
    list-style-type: disc;
    margin: 0 0 0 15px;
    padding: 0;
}
li a:link {
    color: #333333;
    text-decoration: none;
}
li a:visited {
    color: #333333;
    text-decoration: none;
}
li a:hover {
    color: #333333;
    text-decoration: underline;
}
li a:active {
    color: #333333;
    text-decoration: underline;
}
img {
    border: 0 none;
    vertical-align: middle;
}
.module {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DEDCD8;
    margin: 10px 5px;
    padding: 1px;
    width: 48%;
    /* height : 200px; */
    float : left;
}
.moduleHeader {
    border-bottom: 1px dotted #DEDCD8;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    overflow: hidden;
    /* padding: 3px 1%;  */
    width: 98%;
}
.moduleHeader .icon {
    float: left;
    padding: 3px 3px 0;
}
.moduleHeader .title {
    float: left;
    font-weight: bold;
    line-height: 16px;
    padding: 2px 3px;
    width: 80%;
}
.moduleHeader .option {
    cursor: pointer;
    float: right;
    padding: 2px 3px;
    text-decoration: none;
}
.moduleHeader .close {
    cursor: pointer;
    /* display: none;  */
    float: right;
    padding: 2px 3px;
    text-decoration: none;
}
.module_body {
    font-size: 9pt;
    margin: 0 !important;
    //overflow-x: hidden !important;
    padding: 10px 1% !important;
    width: 98% !important;
}
.moduleFooter {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}