#mMenu {
	position: absolute;
	z-index: 99;
	margin-left: 0px;
	margin-top: 0px;
	background: #FFF;
}
#mMenu li{
	border: 1px solid #9B9B9B;
	position: relative;
	list-style: none;
	cursor: pointer;
	font-size:15px;
}
#mMenu li:hover{
	background: #0A246A;
	color: white;
}
.mMenuSelected{
	background: #0A246A;
	color: white;
}