.center{
	margin-left: auto;
	margin-right: auto;
	min-height:420px;
 
	background-color: #fbfbfb;
	border: #ddd 1px solid;
	width:1000px;
}

.divmain{
/* 	margin:0 auto;
	min-height:400px;
	height:100%;
	width:1000px; */
	
	margin-left: auto;
	margin-right: auto;
	min-height:420px;
 
	background-color: #fbfbfb;
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
	width:1000px;
}
.title {
	min-width: 956px;
	height: 44px;
	line-height: 44px;
	background: url(../../image/wsyd/ordertitle_bg.jpg) left top repeat-x;
	border: 1px solid #c9c8c8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-indent: 10px;
	color: #208000;
	margin:0 10px 0 10px;
}
.title_body{
	text-align:center;
}
.title_body table{
	margin:5px auto 10px auto;
	width:400px;
}
.title_body table td{
	text-align:left;
	width:200px;
}
#submit{
	margin:30px auto 10px auto;
	min-width: 956px;
	text-align: center;
	height:39px;
}
#sub{
	background-color: #F8B80C;
	border: 1px solid #a8a8a8;
	border-radius: 5px 5px 5px 5px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 39px;
	width: 93px;
}
.co {
	color: #f30;
}
.co2 {
	color: #000000;
	font-weight:bolder;
}
.gr {
	color: #208000;
	font-weight:bolder;
}
.fromto{
	width:100%;
	position: relative;
	float:right;
	height:10px;
	padding-bottom:10px;
	text-align:right;
	padding-right:20px;
}
.center_head{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.firmName{
	  font-size: 20px;
	  padding-left: 15px;
	  font-weight:bold;
}
.orderDetal{
	 width:100%;
	 text-align:center;
}
.orderDetal table{
	margin:5px auto 10px auto;
	width:400px;
}
.lastTablesNum{
	position: relative;
	float:right;
	color:red;
}
		.constr_bg{
			border-bottom: #ccc 1px solid;
			border-left: #ddd 1px solid;
			background-color: #fbfbfb;
			border-top: #ddd 1px solid;
			border-right: #ddd 1px solid;
			height : 100%;
		}
		.center_detail{
			border-bottom: #ccc 1px solid;
			padding-bottom: 10px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 25px;
			height : 135px;
		}
		.cell{
			width: 2000px;
			display: table-cell;
		}
		.r{
			float: right;
			margin-top:60px;
		}
		.l{
			float: left	;
		}
	

		.mr20{
			margin-right: 20px;
		}
		.mr50{
			margin-right: 50px;
		}
		.mb20{
			margin-bottom: 20px;
		}
		.ml20{
			margin-left: 20px;
		}
		.pb5{
			padding-bottom: 5px;
		}

		.h20{
			height: 20px;
		}
		.h33{
			height: 33px;
		}
		.fs14{
			font-size: 50px;
		}
		a img{
			border:0px;
		}
		.nav{
			background-color: #436372;
		}
		.book{
			padding-bottom: 0.25em;
			background-color: #2da200;
			padding-left: 2.5em;
			padding-right: 2.5em;
			background-position: 0px -100px;
			color: #ffffff;
			padding-top: 0.25em;
			text-shadow: 0 -1px #137900;
			background-position: 0px -100px;
		}