body{
			background-color: #ebebeb;
			line-height: 1.4;
			color: #333;
			font-family: Arial, sans-serif;
			font-size: 12px;
			margin: 0px
		}
		a{
			text-decoration: none;
		}
		h{
			margin: 0px;
			padding: 0px;
		}
		ul{
			list-style-type: none;
			padding-left: 0px;
		}
		li{
			float: left;
		}
		li a{
			padding-bottom: 0px;
			line-height: 33px;
			padding-left: 1em;
			padding-top:0px;
			display: block;
			color:#eee;
			font-size: 14px;
		}
		li div a{
			padding-bottom: 0px;
			line-height: 20px;
			padding-left: 1em;
			padding-top:0px;
			display: block;
			color:#eee;
			font-size: 14px;
		}
		.acolor{
			color : #126185;
		}
		.aft{
			font-size: 10px;
		}
		.detail_bar{
			background-color: #ebebeb;
			height: 30px;
		}
		.head{
			background-color: #A00606;
			margin-left: auto;
			margin-right: auto;
			height:106px;
		}
		.footer{
			text-align: center;
			line-height: 20px;
			color: #666;
			text-shadow: 1px 1px #fbfbfb;
		}
		.constr{
			max-width : 1280px;
			margin-left: auto;
			margin-right: auto;
		}
		.constr_head{
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.constr_bg{
			border-bottom: #ccc 1px solid;
			border-left: #ddd 1px solid;
			background-color: #fbfbfb;
			border-top: #ddd 1px solid;
			border-right: #ddd 1px solid;
			height : 200px;
		}
		.res_sch_detail{
			border-bottom: #ccc 1px solid;
			padding-bottom: 10px;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 25px;
			height : 135px;
		}
		.cell{
			width: 2000px;
			display: table-cell;
		}
		.r{
			float: right;
		}
		.l{
			float: left	;
		}
		.pct50{
			width: 50%;
		}
		.mt0{
			margin-top: 0px;
		}
		.mt10{
			margin-top: 10px;
		}
		.mt30{
			margin-top: 30px;
		}
		.mr20{
			margin-right: 20px;
		}
		.mr50{
			margin-right: 50px;
		}
		.mb20{
			margin-bottom: 20px;
		}
		.ml20{
			margin-left: 20px;
		}
		.pb5{
			padding-bottom: 5px;
		}
		.pb10{
			padding-bottom: 10px;
		}
		.pl10{
			padding-left: 10px;
		}
		.pr30{
			padding-right: 30px;
		}
		.h20{
			height: 20px;
		}
		.h33{
			height: 33px;
		}
		.fs14{
			font-size: 50px;
		}
		a img{
			border:0px;
		}
		.nav{
			background-color: #436372;
		}
		.book{
			background-color:#208000;
			width:100px;
			height:25px;
			font-size: 20px;
			margin-top: 2px;
			padding-top: 5px;
		}